<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Create your Profile</h2>
      <p class="text-center">Be a part of MatchUp community and fill out your profile!</p>
      <div class="well">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
